<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Employee Management</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>

<body>
    <div class="grid place-items-center m-40">
        <a th:href="@{/newEmployee}" class="px-2 bg-blue-100 rounded hover:bg-blue-300 transition-all">New Employee</a>
        <h1 class="text-xl">List of All Employees with Departments</h1>
        <table class="table-auto border-separate border-spacing-y-2">
            <thead>
                <tr class="bg-amber-200">
                    <th class="px-8">ID</th>
                    <th class="px-8">Name</th>
                    <th class="px-8">Email</th>
                    <th class="px-8">Department</th>
                </tr>
            </thead>
            <tbody class="">
                <tr th:each="emp:${empList}">
                    <td th:text="${emp.id}" class="text-center"></td>
                    <td th:text="${emp.firstName + ' ' + emp.lastName}" class="text-center"></td>
                    <td th:text="${emp.email}" class="text-center"></td>
                    <td th:text="${emp.department}" class="text-center"></td>
                    <td class="px-2 bg-blue-100 rounded hover:bg-blue-300 transition-all"><a th:href="@{/update/{id}(id=${emp.id})}" class="btn btn-blue">Update</a></td>
                    <td class="px-2 bg-red-100 rounded hover:bg-red-300 transition-all"><a th:href="@{/delete/{id}(id=${emp.id})}" class="btn btn-blue">Remove</a></td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>